<div class="container">

  <h1>Node.js <br>Twitter Streaming</h1>
  <img id="logo" src="img/twitter_logo.jpg" alt="Twitter - Logo">

  <p id="desc">Pesquisando pela palavra: <strong>Felicidade</strong></p>
  <div id="status" class="alert alert-info">Carregando...</div>

</div>